# MySQL in Python

MySQL merupakan software yang digunakan untuk bahasa pemrogaman SQL yang digunakan pada relational database. MySQL juga bisa dihubungkan ke bahasa pemrograman lainnya yaitu Python

Untuk menghubungkannya terlebih dahulu perlu untuk menginstall mysql.connector pada anaconda prompt, lalu menghubungkannya lewat cara di bawah ini

In [10]:
! pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.0.26-cp38-cp38-win_amd64.whl (799 kB)
Collecting protobuf>=3.0.0
  Downloading protobuf-3.18.0-cp38-cp38-win_amd64.whl (912 kB)
Installing collected packages: protobuf, mysql-connector-python
Successfully installed mysql-connector-python-8.0.26 protobuf-3.18.0

In [12]:
import mysql.connector
mydb= mysql.connector.connect(
    host='localhost',
    user='root',
    password='Rahma29',
    #database='world',
)

Untuk mengakses database dan menggunakan command dari SQL, digunakan method cursor() dan execute()

### CREATE & SHOW DATABASE

Untuk membuat database baru menggunakan command CREATE DATABASE

NOTES: Nama database dalam sql tidak boleh ada yang sama

In [17]:
import mysql.connector
mydb= mysql.connector.connect(
    host='localhost',
    user='root',
    password='Rahma29',
    #database='world',
)
mycursor=mydb.cursor()
mycursor.execute('SHOW DATABASES') #ini bisa diganti ganti 
mycursor.fetchall()

[('geeked',),
 ('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('sys',),
 ('trial_course',),
 ('world',)]

In [16]:
import mysql.connector
mydb= mysql.connector.connect(
    host='localhost',
    user='root',
    password='Rahma29',
    #database='world',
)
mycursor=mydb.cursor()
mycursor.execute('CREATE DATABASE trial_course')
mycursor.fetchall()

[]

untuk melihat apakah database tersebut telah dibuat digunakan command SHOW DATABASES, apabila ingin menampilkannya di dalam python dapat menggunakan method fetchall() ataupun menggunakan loop pada Python

In [18]:
import mysql.connector
mydb= mysql.connector.connect(
    host='localhost',
    user='root',
    password='Rahma29',
    database='trial_course',
)
mycursor=mydb.cursor()
mycursor.execute('SHOW DATABASES')
mycursor.fetchall()

[('geeked',),
 ('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('sys',),
 ('trial_course',),
 ('world',)]

In [20]:
import mysql.connector
mydb= mysql.connector.connect(
    host='localhost',
    user='root',
    password='Rahma29',
    database='trial_course',
)
mycursor=mydb.cursor()
mycursor.execute('SHOW DATABASES')

for x in mycursor:
    print(x)

('geeked',)
('information_schema',)
('mysql',)
('performance_schema',)
('sys',)
('trial_course',)
('world',)

### CREATE & SHOW TABLE

Untuk membuat table, digunakan command CREATE TABLE dan diikuti dengan nama table serta isi dari table

In [26]:
import mysql.connector
mydb= mysql.connector.connect(
    host='localhost',
    user='root',
    password='Rahma29',
    database='trial_course',
)
mycursor=mydb.cursor()
mycursor.execute('CREATE TABLE table_2(table_2_id INT, table_2_name VARCHAR(255), table_2_address VARCHAR(255))')

untuk melihat apakah database tersebut telah dibuat digunakan command SHOW TABLES, apabila ingin menampilkannya di dalam python dapat menggunakan method fetchall() ataupun menggunakan loop pada Python

In [28]:
import mysql.connector
mydb= mysql.connector.connect(
    host='localhost',
    user='root',
    password='Rahma29',
    database='trial_course',
)
mycursor=mydb.cursor()
mycursor.execute('SHOW TABLES')
for x in mycursor:
    print(x)

('table_1',)
('table_2',)

### INSERT

untuk memasukkan data pada tabel, dapat digunakan command INSERT seperti contoh di bawah ini. Setelah itu, gunakan command commit() untuk melakukan perubahan pada tables tersebut

In [29]:
import mysql.connector
mydb= mysql.connector.connect(
    host='localhost',
    user='root',
    password='Rahma29',
    database='trial_course',
)
mycursor=mydb.cursor()
insert='INSERT INTO table_1 VALUES (%s,%s,%s)'
values=(1,'john','johnnysuh street')
mycursor.execute(insert,values)
mydb.commit()

print(mycursor.rowcount,'record inserted')

1 record inserted

Apabila ingin memasukkan data lebih dari satu, maka digunakan command executemany()

In [32]:
import mysql.connector
mydb= mysql.connector.connect(
    host='localhost',
    user='root',
    password='Rahma29',
    database='trial_course',
)
mycursor=mydb.cursor()
insert='INSERT INTO table_1 VALUES (%s,%s,%s)'
values=[(2,'Taeyong','bubu street'),
        (3,'yuta','jepang street'),
        (4,'mark','canada street'),
        (5,'hendery','wayv street'),
        (6,'ten','louis street'),
        (7,'dejun','leon street'),
        (8,'kun','daegal street'),
        (9,'jisung','bella street'),
        (10,'nana','dream street'),
        (11,'jeno','hot street'),
        (12,'chenle','beijing street'),
        (13,'lucas','hongkong street')    
]
mycursor.executemany(insert,values) #using executemany kalo mau nambahin banyak ke databasenya
mydb.commit()

print(mycursor.rowcount,'record inserted')

12 record inserted

### SELECT

In [34]:
import mysql.connector
mydb= mysql.connector.connect(
    host='localhost',
    user='root',
    password='Rahma29',
    database='trial_course',
)
mycursor=mydb.cursor()
mycursor.execute('SELECT * FROM table_1')
mycursor.fetchall()

[(1, 'john', 'johnnysuh street'),
 (2, 'Taeyong', 'bubu street'),
 (3, 'yuta', 'jepang street'),
 (4, 'mark', 'canada street'),
 (5, 'hendery', 'wayv street'),
 (6, 'ten', 'louis street'),
 (7, 'dejun', 'leon street'),
 (8, 'kun', 'daegal street'),
 (9, 'jisung', 'bella street'),
 (10, 'nana', 'dream street'),
 (11, 'jeno', 'hot street'),
 (12, 'chenle', 'beijing street'),
 (13, 'lucas', 'hongkong street')]

untuk menampilkan isi dari sebuah tabel dapat digunakan command SELECT dan memilih kolom nya atau keseluruhan data menggunakan parameter *

### WHERE

apabila ingin melakukan action terhadap spesifik tabel, dapat digunakan command where untuk melakukan filter

In [42]:
import mysql.connector
mydb= mysql.connector.connect(
    host='localhost',
    user='root',
    password='Rahma29',
    database='trial_course',
)
mycursor=mydb.cursor()
mycursor.execute('SELECT * FROM table_1 WHERE table_1_id= 1')
mycursor.fetchall()

[(1, 'john', 'johnnysuh street')]

In [45]:
import mysql.connector
mydb= mysql.connector.connect(
    host='localhost',
    user='root',
    password='Rahma29',
    database='trial_course',
)
mycursor=mydb.cursor()
mycursor.execute("SELECT * FROM table_1 WHERE table_1_name = 'john'")
mycursor.fetchall()

[(1, 'john', 'johnnysuh street')]

### AND, OR, LIKE, Between

dalam where, terdapat beberapa constraint yang bisa digunakan seperti and, or serta like

AND digunakan untuk memberikan kondisi apabila keduanya benar, OR digunakan untuk memberikan kondisi apabila salah satu benar dan LIKE digunakan untuk memberikan kondisi pada string yang cocok serta Between digunakan untuk memberikan kondisi apabila sebuah nilai berada diantaranya

Pada LIKE, tedapat beberapa operator yang dapat digunakan seperti:
	1. "a%" -> mencari nilai yang diawali huruf a
    2. "%a" -> mencari nilai yang diakhiri huruf a
    3. "%a%" -> mencari nilai yang ada unsur huruf a diposisi apapun
    4. "_a%" -> mencari nilai yang huruf keduanya adalah a
    5. "a_%" -> mencari nilai yang huruf awalnya a dan panjang minimalnya 2 karakter
    6. "a__%" -> mencari nilai yang huruf awalnya a dan panjang minimalnya 3 karakter
    7. "a%o" -> mencari nilai yang diawali huruf a dan diakhiri huruf o*/

Untuk huruf sendiri, dapat disesuaikan dengan kondisi

### ORDER BY

untuk mengurutkan baris terhadap sebuah kolom, digunakan ORDER BY baik descending atau ascending

### GROUP BY & Having

untuk melakukan aggregasi pada mysql dapat dilakukan menggunakan GROUP BY. Agregasi dilakukan apabila terdapat kalkulasi pada sebuah nilai, terdapat beberapa function dalam aggregasi yaitu:
1. MIN   -> Nilai terkecil
2. MAX   -> Nilai terbesar
3. SUM   -> Total dari keseluruhan kolom
4. COUNT -> Menghitung banyaknya nilai pada kolom
5. AVG   -> Menghitung rata rata pada nilai

Terdapat method lain yaitu Having yang digunakan untuk memberikan kondisi terhadap data dari hasil aggregasi

### DELETE

untuk menghapus baris pada sebuah tabel, digunakan command DELETE. Namun, ingat tambahkan filter menggunakan where untuk mencegah data terhapus semuanya

### UPDATE

untuk mengubah data yang telah dimasukkan kedalam tabel, dapat digunakan command UPDATE

### LIMIT

untuk membatasi data yang ditampilkan hanya beberapa saja, dapat digunakan command LIMIT

### DROP TABLE & DATABASE

untuk menghapus tabel ataupun database, digunakan method DROP TABLE & DROP DATABASE

### Sub Query

Sub query digunakan apabila ingin memberikan filterisasi atau menampilkan data yang berhubungan dengan aggregate function

### JOIN

apabila ingin menggabungkan dua tabel dengan catatan dari kedua tabel tersebut terdapat kolom yang sama, dapat digunakan command JOIN

### Pandas

Pandas merupakan salah satu library pada python yang digunakan untuk bekerja dengan data sets.

### Data Frame

Merupakan sebuah data set di library pandas yang biasanya berbentuk 2d array table, apabila series seperti kolom maka DataFrame seperti keseluruhan tabel.

# Matplotplib

Matplotlib merupakan salah satu library di python yang digunakan untuk memvisualisasikan low level graph

### Plot

Merupakan function yang digunakan untuk membuat draw point(titik x,y) pada diagram.

Fungsi ini menerima dua parameter, parameter pertama merupakan sebuah array yang menjadi titik x point, dan parameter kedua yang merupakan sebuah array yang menjadi titik y point.

### Bars

Merupakan salah satu jenis grafik yang berbentuk bar atau batang

### Scatter

Merupakan function yang memberikan sebuah dot atau titik pada setiap nilai yang ada. Function ini membutuhkan dua buah array yang memiliki panjang yang sama, satu array untuk menunjukkan titik x dan satu lagi menunjukkan titik y